body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #daecb4;
}
a{
    text-decoration: none;
    color: #ffb000;
}
header{
    display: flex;
    min-height: 90px;
    background-color: #296126;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 80px;
    margin-right: 10px;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: white;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}